.homePageSection {
  position: relative;
  width: 100%;
  max-width: 1800px;
  /* Optional: set a max-width for the container */
  margin: auto;
  display: flex;
  align-items: center;
  /* Centers content vertically */
  justify-content: center;
  /* Centers content horizontally */
  overflow: hidden;
  /* Ensures image doesn't overflow */
}



.graduationSection img {
  width: 100%;
  height: auto;
  display: block;
}

/* Container for overlay text */
.homePageSection .overlayText {
  position: absolute;
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  /* Adjust position to center */
  color: white;
  text-align: center;
  background-color: rgb(188, 189, 175);
  /* Semi-transparent background */
  padding: 1rem;
  border-radius: 8px;
  /* Optional: rounded corners */
}

.homePageSection h1,
.homePageSection h3 {
  margin: 2em;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 21px;
}

.secondPartHomePage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



.secondPartHomePage img {
  max-width: 21em;
}