.Navlink nav {
  background-image: linear-gradient(to left, rgba(140, 0, 255, 0.5), white 0%, rgba(140, 0, 255), rgb(0, 229, 166));
  padding: 1rem;
}

/* Remove default list styling and make the list inline */
.Navlink ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin-left: 15em;
  /* Center the entire nav content */
}

/* Style each list item */
.Navlink li {
  margin-right: 0.2em;

}

/* Style the links */
.Navlink a {
  text-decoration: none;
  font-weight: bold;

}

.Navlink a:hover {
  color: rgb(0, 229, 167);
  /* Change text color on hover */
  text-decoration: underline;
  /* Apply a double underline on hover */
}